@keyframes pointer-moving {

  from {
    margin-inline-start: -15px;
  }

  to {
    margin-inline-start: -19px;
  }
}

@keyframes scaling {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animated-hue-rotate {

  100% {
     filter: hue-rotate(var(--filter-hue-rotate, 180deg));
  }
}

@keyframes animated-invert {

  100% {
     filter: invert(0);
  }
}