/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, arial, sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight-content, 400);
  background-color: var(--background-color, #fff);
  color: var(--main-color, #000);
  background-image: var(--background-image);
  background-size: cover;
  max-inline-size: 700px;
  margin-inline: auto;
  font-size: 18px;
  line-height: 22px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid currentColor;
  margin-block: 100px;
  background-color: var(--background-color, #fff);
  font-family: var(--accent-font, sans-serif);
}

.header-text {
  text-align: center;
  text-transform: uppercase;
}

.header__tag {
  margin-block-start: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  margin-block-end: 25px;
}

.header__theme-menu {
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: flex-start;
}

.theme-menu__button {
  border: 0 solid transparent;
  background-color: inherit;
  text-transform: uppercase;
  color: currentColor;
  font-size: 14px;
  line-height: 14px;
}

.theme-menu__button[disabled='true']::before {
  content: '▶';
  position: absolute;
  margin-inline-start: -15px;
  inline-size: 13px;
  block-size: 16px;
  animation: pointer-moving 0.5s ease-in-out alternate infinite;
}

.theme-menu__button[disabled='true'] {
  pointer-events: none;
}

.theme-menu__button[disabled='true'],
.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: -3px;
  background-color: currentColor;
  transition: width 0.3s;
}

.theme-menu__button:hover::after {
  width: 100%;
}

@keyframes pointer-moving {
  from {
    margin-inline-start: -15px;
  }

  to {
    margin-inline-start: -19px;
  }
}

.card {
  inline-size: clamp(23.4375rem, 0rem + 100% 43.75rem);
  border: 2px solid var(--main-color, #000);
  margin-block-end: 50px;
  background-color: var(--background-color, #fff);
}

.card__title {
  font-variation-settings: 'wght' var(--main-font-weight-title, 700);
  padding: 3px 10px;
}

.card__image-container {
  position: relative;
}

.card__label {
  position: absolute;
  right: 25px;
  top: 25px;
  /* watermark */
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: currentColor;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 0 0 2px var(--background-color, #fff);
}

.card__image {
  inline-size: 100%;
  border-block: 2px solid var(--main-color, #000);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.like-buttons {
  display: flex;
  justify-content: end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  gap: 5px;
}

.button {
  outline: transparent;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  border: 2px solid var(--main-color, #000);
}

.focus-shadow:focus,
.focus-shadow:focus-visible {
  box-shadow: 2px 2px 0 currentColor;
  transition: box-shadow 0.3s;
}

.card__icon-button {
  border: 2px solid transparent;
}

.card__icon-button:focus,
.card__icon-button:focus-visible {
  border: 2px solid currentColor;
  transition: border 0.3s ease;
}

.overlapped::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  background-color: var(--main-color, #000);
  width: 100%;
  transform: translate(-100%);
  display: block;
  transition: transform 0.5s ease-in-out;
}

.overlapped:hover::before {
  transform: translate(0);
}

.overlapped span {
  position: relative;
  z-index: 1;
}

.button__text {
  font-family: var(--accent-font, arial, sans-serif);
  line-height: 90%;
  font-size: 14px;
  text-align: center;
  padding: 12px 37px;
}

.mixed {
  mix-blend-mode: difference;
  color: var(--inversed-color, #fff);
}

.footer {
  display: flex;
  margin-block-start: 0;
  margin-block-end: 100px;
  justify-content: center;
  align-items: center;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 19px;
}

.save-button__text {
  padding: 0;
}

.save-button__image {
  width: 21px;
  height: 21px;
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
}

.like-icon__core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon__main-body {
  transition: fill 0.3s linear;
}

.like-icon__sparks {
  opacity: 0;
}

.like-icon:hover .like-icon__core,
.like-icon:hover .like-icon__main-body {
  fill: var(--like-icon-contour-color, #000);
}

.like-icon.is-liked .like-icon__core,
.like-icon.is-liked .like-icon__main-body,
.like-icon.is-liked .like-icon__contour,
.like-icon:active .like-icon__core,
.like-icon:active .like-icon__main-body {
  fill: var(--like-icon-fill-color, #f00);
}

.like-icon:active .like-icon__core,
.like-icon:hover .like-icon__core {
  transition: fill 0.3s linear;
}

.like-icon:active .like-icon__main-body,
.like-icon:hover .like-icon__main-body {
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .like-icon__contour {
  transition: fill 0.3s 0.06s linear;
}

.like-icon-heart {
}

.like-icon.is-liked .like-icon-heart {
  animation: scaling 0.3s ease-in 0.1s 1 none;
}

.like-icon.is-liked .like-icon__sparks {
  animation: sparks 0.3s ease-in 0.3s 1 none;
}
/*
.like-icon-heart {
  
}

.like-icon__contour {
 
}
*/

@keyframes scaling {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (width <= 375px) {

  .card {
    inline-size: 100%;
  }

  .save-button__image {
    width: 28px;
    height: 28px;
  }
}

.save-dialog {
  max-inline-size: 357px;
  max-block-size: 193px;
}

.save-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.save-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.save-dialog__context {
  display: grid;
  grid-template-columns: 20% 70%;
}

.save-dialog__image {
  block-size: 39px;
  inline-size: 39px;
  align-self: center;
}

.save-dialog__text {
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--main-color, #000);
}

.save-dialog__button-ok {
  inline-size: 100%;
  padding-block: 12px;
}

.image-begin {
  filter: opacity(50%);
}

.image-clean {
  filter: brightness(300%) sepia(10%);
}

.image-inspired {
  filter: hue-rotate(-180deg);
  animation: animated-hue-rotate 3s linear infinite;
}

@keyframes animated-hue-rotate {

  100% {
     filter: hue-rotate(var(--filter-hue-rotate, 180deg));
  }
}

.image-perfection {
   filter: saturate(200%);
}

.image-coworkers {
  filter: blur(1px);
}

.image-rage {
  --filter-hue-rotate: -40deg;
  animation: animated-hue-rotate 0.5s linear infinite;
}

.image-okay {
  filter: invert(0.6); 
  animation: animated-invert 10s cubic-bezier(0, 0.34, 0.42, 1.01) infinite forwards;
}

.image-now {
  filter: contrast(120%)  drop-shadow(5px 15px 3px rgba(249, 171, 235, 0.5));
}

@keyframes animated-invert {

  100% {
     filter: invert(0);
  }
}