/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';

  --main-font-weight-title: 700;
  --main-font-weight-content: 400;

  --background-color: #FFF;
  --accent-color: #000;

  --background-image: repeating-linear-gradient(#d3d3d3, transparent 2px),
    repeating-linear-gradient(90deg, #d3d3d3, transparent 2px),
    linear-gradient(#e7e7e7 0.01% 100%, #1a1a1a);
}
